{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Entity-relationship to SQL DDL Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}" />

    <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/he.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dropdown.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>

<div class="container">

<div class="page-header">
    <h1>CS4221 </h1>
    <h4>Entity-relationship to SQL DDL Generator</h4>
</div>

<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-7">
        <form id="form" method="post" enctype="multipart/form-data" action="/ddl/confirm" novalidate>
            {% csrf_token %}
            {% for field in form %}
                    <label class="l1" for="field.name">{{ field.label }}</label>
                    {{ field }}
            {% endfor %}
            <div id="selection"> </div>
            
            <p style="text-align: right; margin-top: 20px;">
                <input type="submit" value="Submit" class="btn btn-lg btn-primary" />
            </p>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

<script type="text/javascript">
    jQuery(function ($) {
        ER = '{{ER}}';
        DB = '{{DB}}'
        ER = he.decode(ER);
        ER = JSON.parse(ER);

        console.log(ER);
        data = {};
        $("#data").hide();

        list = "";

        switch(DB) {
            case "psql":
                list = '<ul><li><a href="#">varchar(32)</a></li><li><a href="#">varchar(64)</a></li><li><a href="#">integer</a></li><li><a href="#">real</a></li><li><a href="#">double precision</a></li><li><a href="#">date</a></li><li><a href="#">time</a></li><li><a href="#">timestamp</a></li></ul>';
                break;
            case "mysql":
                list = '<ul><li><a href="#">varchar(32)</a></li><li><a href="#">varchar(64)</a></li><li><a href="#">int</a></li><li><a href="#">float</a></li><li><a href="#">double</a></li><li><a href="#">date</a></li><li><a href="#">datetime</a></li><li><a href="#">timestamp</a></li></ul>';
                break;
            case "oracle":
                list = '<ul><li><a href="#">VARCHAR2</a></li><li><a href="#">NUMBER</a></li><li><a href="#">DATE</a></li><li><a href="#">TIMESTAMP</a></li></ul>';
                break;
            case "mssql":
                list = '<ul><li><a href="#">VARCHAR(32)</a></li><li><a href="#">VARCHAR(64)</a></li><li><a href="#">INT</a></li><li><a href="#">REAL</a></li><li><a href="#">FLOAT</a></li><li><a href="#">ROWVERSION</a></li></ul>';
                break;
            default:
        }

        var i = 0;
        var j = 0;

        for(i=0; i< ER.entity.length;i++){
            var entity = ER.entity[i];
            $("#selection").append("<hr class='hr2'><h4>"+entity.name+"</h4><div>")
            for(j=0; j<entity.attribute.length;j++){
                var attr = entity.attribute[j];
                if(typeof attr.type != "undefined")
                $("#selection").append('<div class="dropdown l2" id="'+entity.name+'_'+attr.id+'">'+attr.name+' <p>'+attr.type+'</p>'+list+'</div> ');
            }
            $("#selection").append("</div>");
        }
            
        $(".dropdown p").click(function(){ 
            id = $(this).closest("div")[0].id;
            var ul = $("#"+id+" ul"); 
            if(ul.css("display")=="none"){ 
                ul.slideDown("fast"); 
            }else{ 
                ul.slideUp("fast"); 
            } 
        }); 

        $(".dropdown ul li a").click(function(){ 
            id = $(this).closest("div")[0].id;
            var txt = $(this).text(); 
            $("#"+id+" p").html(txt); 
            $("#"+id+" ul").hide(); 

            console.log(id);
            console.log(txt);
            id = id.split('_');

            if (!(id[0] in data))
                data[id[0]] = [];
            data[id[0]][id[1]] = txt;

            console.log(JSON.stringify(data));

            $("#data").val(JSON.stringify(data));
        }); 
    });


</script>

</div>

</body>
</html>